CONFIG_PROJECT_VERSION="1.0.2"
CONFIG_TUYA_PRODUCT_ID="aub53kai42j8fdlf"

# hardware: sensor/module switch
CONFIG_ENABLE_HARDWARE_IMU=n
CONFIG_ENABLE_HARDWARE_LCD=y
CONFIG_ENABLE_HARDWARE_MOTO=y
CONFIG_ENABLE_HARDWARE_MICROPHONE=n
CONFIG_ENABLE_HARDWARE_TOUCH=y
CONFIG_ENABLE_LIBLVGL=n

# board
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_LIBTECH_POP_T5AI_BOARD=y
